
ul{
  color: white;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

pre{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body{
  background-image: url("../../kosmos.jpg");
  background-size: 1920px 1080px;
}

.panelPracownika{
   text-align: right;
}

.klient{
  text-align: left;
}

#logEmployee{
text-decoration: none;
color: white;
}

.sidenav-container {
  background-image: url("../../kosmos.jpg");
  height: 100%;
  background-size: 1920px 1080px;
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.6);

  width: 200px;
}

.sidenav .mat-toolbar {

  color: white;
  background-color: rgba(0, 0, 0, 1);

}

.mat-toolbar.mat-primary {

  background-color: rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item{

  border-radius:25px;
	border:2px solid #1787e4;
  margin-right: 2px;
  margin-left: -2px;
text-align: right;
  margin-bottom: 7px;
  color: white;
  background:linear-gradient(to bottom, #040535 5%, #042263 100%);
  text-align: center;
}


.mat-list-item:hover {
	background:linear-gradient(to bottom, #1845a7 5%, #1215a3 100%);

}