
ul{
    color: white;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-image: url("kosmos.jpg");
    background-size: 1920px 1080px;
}
    