<div class="text">Valdi Plus restaurant attracts a unique atmosphere and excellent food. Our chefs and waiters will take care of your good mood. Dishes made from scratch based on natural and fresh products cater for years palates of our guests. Finish off the meal is dessert! A wide selection of cakes made according to traditional recipes, ice cream and seasonal suit any taste słodyczy.Valdi Plus is the place to start the day, family dinner, meet for coffee or a romantic dinner. In our unique banquet halls to organize a wedding, family celebration or corporate event.
<br/>
<br/>
Enjoy the seasonal and themed menus - for more information in the news and on FB.
<div class="stylish"><br/><br/>Restaurant hours:

<br/> Mon - Sat: 8.00-22.00
<br/>   Sunday: 11-22.00 
</div>
</div>