.formula{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15%;
    position: absolute;
    width: 750px;
    height: flex;
    top: 15%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    color: white;
    margin-top: 100px;
    padding-top: 45px;
    padding-bottom: 45px;

}
button{
    background:linear-gradient(to bottom, #042263 5%, #040535 100%);
    border-radius: 45%;
    width: 100px;
    height: 50px;
    margin: 5px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}
button:hover{
    background:linear-gradient(to bottom, #1249c0 5%, #042263 100%);
}

input{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
	border:2px solid #1787e4;
    font-size: 35px;
    margin: 5px;
    outline: none;
    text-align: center;
    width: 650px;
    height: 35px;
}
input:focus::placeholder {
    color: rgb(131, 123, 123);
}
input::placeholder {
    color: white;
}

input:focus{
    background-color: rgba(60, 60, 60, 0.6);
}

input[type=radio]{
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: white;
    outline: none;
    text-align: center;
    width: 50px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
}

textarea{
    width: 300px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}


body{
    background-image: url("../../kosmos.jpg");
    }
    
ul{
    color: white;
}
    
html, body { height: 100%; }
   
    